{{define "subject"}}Finish Registration with Ritche Blogpost{{end}}

{{define "body"}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <p>Hi {{.Username}}</p>
        <p>Thanks for signing up for Ritchie Blogpost. We're excited yo have you on board!</p>
        <p>Before you can start using Ritchie Blogpost, you need to confirm your email address. Click the link below to confirm your email address:</p>
        <p><a href="{{.ActivationURL}}">{{.ActivationURL}}</a></p>
        <p>If you want to active your account manually copy and paste the code from the link above</p>
        <p>If you didn't sign up for Ritchie Blogpost, you can safely ignore this email.</p>

        <p>Thanks,</p>
        <p>The Ritchie Blogpost Team</p>
    </body>
</html>

{{end}}